.poster {
  margin: 2%;
  width: 15%;
  position: relative;
  background-color: violet;
}
.poster--img {
  width: 100%;
  transition: ease-in-out 1000ms;
}
.poster--img.hovered{
  height:120%;
  overflow: hidden;
  object-fit: cover;
  
}
.poster:hover {
  border: 1px solid violet;
}
.poster--overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(212deg, rgba(75,0,140,0.6) 36%, rgba(0,0,0,0.3) 83%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.poster--icon , .poster--icon-no {
  color: white;
  margin-top: 15px;
  margin-right: 15px;
}

.poster--icon:hover , .poster--icon-no:hover {
  color: violet;
  cursor: pointer;
}
.poster--overlay__text {
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
