.posterList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.posterList--title {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  margin-top: 6rem;
  text-align: center;
  text-transform: uppercase;
}
.posterList--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 2vw;
}
