.searchBar--container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar--container{
  left:100vw;
  transition: ease-in-out 300ms;
}
.searchBar--container.deployed{
  left:0;
  transition: ease-in-out 300ms;
}
.searchBar {
  position: relative;
  border-radius: 4rem;
  box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  max-width: 80vw;
  width: 500px;
  height: 4rem;
  outline: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #1e1e1e;
  
}
.searchBar--input {
  font-size: 1.4rem;
  font-weight: 900;
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  appearance: none;
  outline: none;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #1e1e1e;
}

.searchBar--submit {
  position: absolute;
  right: -2px;
  outline: none !important;
  cursor: pointer;
  padding: 0 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  color: #1e1e1e;
  font-size: 1rem;
}
.searchBar--submit:hover {
  background: #1e1e1e;
  height: 3.8rem;
  color: white;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
